<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='statemodel/css/core.css') }}">
    <title>Concrete state list</title>
  </head>
  <body>
    <div class="content">
      <h2 style="margin-left: 20px">Found concrete states</h2>
      <table>
        <tr>
          <th>State ID</th>
          <th>Description</th>
          <th>Actions in</th>
          <th>Actions out</th>
          <th>Is oracle?</th>
          <th>Details</th>
        </tr>
   
          
      {% for state in states %}
      <tr>
          <td>{{ state['cid'] }}</td>
          <td>{{ state['description'] }}</td>
          <td>{{ state['edges_in']|length}}</td>
          <td>{{ state['edges_out']|count}}</td>
          <td>{{ state['oracle'] }}</td>
          <td><a href="/concrete/state/{{ state['cid'] }}">X</a></td>
        </tr>
    {% endfor %}
    </table>
    </div>
  </body>
</html>
