.idea
.gradle/
bin/
target/
*.obj
/windows/native_src/windows.h
*.iml
doc/
.project
*/.classpath
.settings
build.bat
*.sse
*.class
/windows/native_src/compile_w10.bat
/windows/native_src/clean_w10.bat
*.log

!testar/distributionSUTs/SwingSet2_files/*
