.idea
.gradle/
bin/
target/
*.obj
/windows/native_src/windows.h
*.iml
doc/
.project
*/.classpath
.settings
build.bat
*.sse
*.class
*.log
/logs
/testar/settings
/testar/output
/testar/suts
/testar/testar
/testar/testar.bat
/testar/windows.dll
/testar/index.log
tesweb-extension/css/style.css
tesweb-extension/manifest.json
tesweb-extension/js/testar.state.js
tesweb-extension/js/testar.init.start.js
tesweb-extension/js/testar.init.end.js
tesweb-extension/js/testar.canvas.js
tesweb-extension/images/icon.png