.idea
.gradle/
bin/
target/
*.obj
/windows/native_src/windows.h
*.iml
doc/
.project
*/.classpath
.settings
build.bat
*.sse
*.class
*.log
/logs
/testar/settings
/testar/output
/testar/suts
/testar/testar
/testar/testar.bat
/testar/windows.dll
/testar/index.log
/rascal/oracles/generated/*