<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Test* Report</title>
    <link
      href="{{ url_for('static', filename='css/report.css') }}"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
      integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section id="results">
      <section class="result">
        <h2>Test metrics</h2>
        <div class="data-points">
          <ul>
            <li><p>Issues: {{ report.veredict_count() }}</p></li>
            <li><p>Oracles: {{ report.oracle_count() }}</p></li>
          </ul>
        </div>
      </section>

      <section class="result">
        <h2>Test settings</h2>
        <div class="data-points">
          <ul>
            <li><p>Number of Sequences: {{ report.sequence_count() }}</p></li>
            <li><p>Actions: {{ report.total_actions() }}</p></li>
            <li>
              <p>
                Actions per Sequence: {{ report.get_actions_per_sequence() }}
              </p>
            </li>
            <li>
              <p>
                Test URL:
                <a href="{{ report.get_url() }}">{{ report.get_url() }}</a>
              </p>
            </li>
          </ul>
        </div>
      </section>

      <script>
        const iterations = {{ report.sequence_count() }};
      </script>

      <section class="result">
        <h2>Oracle metrics (chart)</h2>
        <canvas id="oracleMetricChart" class="chart"></canvas>
        <script>
          // Override text colour
          Chart.defaults.global.defaultFontColor = "#fff";

          /** @type {number[]} */
          let oracleValues = [{{ report.oracle_count() }} ,{{ report.get_ok_sequence_count() }}];
          /**  @type {string[]} */
          let oracleIndices = ['Faults', 'Success'];
        </script>
        <script src="{{ url_for('static', filename='js/oracleMetricChart.js') }}"></script>
      </section>

      <section class="result">
        <h2>Issue metrics (chart)</h2>
        <canvas id="issueMetricChart" class="chart"></canvas>
        <script>
          let issueValues = [];

              {% for sequence in  report.get_sequences() %}
                  issueValues.push("{{ sequence.veredict_count() }}")
              {% endfor %}

          let issueIndices = new Array(iterations);
          for (let index = 0; index < iterations; index++) {
              issueIndices[index] = index + 1;
          }
        </script>
        <script src="{{ url_for('static', filename='js/issueMetricChart.js') }}"></script>
      </section>

      <section class="result iterations">
        <h2>Test Iterations</h2>
        <table class="iteration-overview">
          <caption>
            Overview of all test iterations.
            <b id="captionPaginationIndicator"></b>
          </caption>
          <thead>
            <tr>
              <th id="iteration-number">Iteration #</th>
              <th id="iteration-issues">Issues</th>
              <th id="iteration-oracle-flag">Hit Oracle?</th>
              <th id="iteration-control">Control</th>
            </tr>
          </thead>
          <tbody>
            {% for sequence in report.get_sequences() %}
            <tr class="value">
              <td>{{ sequence.get_id() }}</td>
              <td>{{ sequence.veredict_count() }}</td>
              <td>{{ sequence.has_oracle() }}</td>
              <td>
                <button
                  class="show-details"
                  onclick="location.href='/sequence/{{report.get_id()}}/{{ sequence.get_id() }}'"
                >
                  Details
                </button>
              </td>
            </tr>

            {% endfor %}
          </tbody>
          <tfoot>
            <tr class="value arrows">
              <td>
                <button class="show-details arrow" onclick="previousIndex()">
                  &lt;
                </button>
              </td>
              <td></td>
              <td></td>
              <td>
                <button class="show-details arrow" onclick="nextIndex()">
                  &gt;
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
        <script src="{{ url_for('static', filename='js/paginateTable.js') }}"></script>
      </section>
    </section>
  </body>
</html>
