<app-content-container label="Report details">
  <div
    *ngIf="report"
    class="flex flex-col gap-1 w-1/3 p-4 pt-0"
  >
    <div class="grid grid-cols-2 gap-2">
      <p>Id:</p>
      <p class="font-semibold">{{ report.id }}</p>
    </div>
    <div class="grid grid-cols-2 gap-2">
      <p>Url:</p>
      <a
        [href]="report.url"
        target="_blank"
        class="text-primary font-semibold"
      >
        {{ report.url }}
      </a>
    </div>
    <div class="grid grid-cols-2 gap-2">
      <p>Time:</p>
      <p class="font-semibold">{{ report.time }}</p>
    </div>
    <div class="grid grid-cols-2 gap-2">
      <p>Sequences:</p>
      <p class="font-semibold">{{ report.totalSequences }}</p>
    </div>
    <div class="grid grid-cols-2 gap-2">
      <p>Actions per sequence:</p>
      <p class="font-semibold">{{ report.actionsPerSequence }}</p>
    </div>
  </div>
</app-content-container>
