<div class="absolute top-4 flex gap-4">
  <a [routerLink]="''">
    <button class="px-4 py-2 bg-secondary text-primary rounded">
      < Back
    </button>
  </a>
</div>
<div class="flex flex-col gap-8">
  <app-content-container label="Iteration details">
    <div
      *ngIf="iteration"
      class="flex flex-col gap-1 w-1/3 p-4 pt-0"
    >
      <div class="grid grid-cols-2 gap-2">
        <p>Id:</p>
        <p class="font-semibold">{{ iteration.id }}</p>
      </div>
      <div class="grid grid-cols-2 gap-2">
        <p>Info:</p>
        <p class="font-semibold">{{ iteration.info }}</p>
      </div>
      <div class="grid grid-cols-2 gap-2">
        <p>Severity:</p>
        <p class="font-semibold">{{ iteration.severity }}</p>
      </div>
      <div class="grid grid-cols-2 gap-2">
        <p>Actions:</p>
        <p class="font-semibold">{{ iteration.actionIds.length }}</p>
      </div>
      <div class="grid grid-cols-2 gap-2">
        <p>Selected actions:</p>
        <p class="font-semibold">{{ selectedActions.length }}</p>
      </div>
    </div>
  </app-content-container>
  <app-content-container label="Selected actions">
    <div class="flex flex-col">
      <div class="grid grid-cols-5 gap-2 px-4 pb-2 font-semibold">
        <p>
          Id
        </p>
        <p>
          Sequence item id
        </p>
        <p>
          Start time
        </p>
        <p>
          Status
        </p>
      </div>
      <a
        *ngFor="let action of selectedActions"
        [routerLink]="['/states', action.sequenceItemId]"
        class="grid grid-cols-5 gap-2 px-4 py-2 even:bg-secondary hover:bg-primary hover:bg-opacity-20 duration-100 cursor-pointer"
      >
        <p>
          {{ action.id }}
        </p>
        <p>
          {{ action.sequenceItemId }}
        </p>
        <p>
          {{ action.startTime }}
        </p>
        <p>
          {{ action.status }}
        </p>
        <div class="flex justify-end">
          >
        </div>
      </a>
    </div>
  </app-content-container>  
</div>
