<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="DEV_HOME" value="c:/logs" />

  <appender name="FILE-AUDIT"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>index.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
        %d{yyyy-MM-dd-HH:mm:ss.SSS} %msg%n
      </Pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>archived/debug.%d{yyyy-MM-dd}.%i.log
      </fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
              class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>

  </appender>

  <logger name="org.fruit.monkey.AbstractProtocol" level="info" additivity="false">
    <appender-ref ref="FILE-AUDIT" />
  </logger>

  <logger name="nl.ou.testar" level="info"
          additivity="false">
    <appender-ref ref="FILE-AUDIT" />
  </logger>

  <root level="error">
    <appender-ref ref="FILE-AUDIT" />
  </root>

</configuration>