<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='statemodel/css/core.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='statemodel/js/traverse.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='statemodel/js/concrete.js') }}"
    ></script>
    <script>
      window.addEventListener("load", () => {
        const fromState = "{{ from_cid }}";
        const toState = "{{ to_cid }}";
        traverse(fromState, toState);
      });
    </script>
  </head>
  <body>
    <div class="content">
      <span class="text-h2"></span>
      <span id="options-menu" style="display: none"
        >Select one of the following actions: <b id="options"></b
      ></span>
    </div>
    <canvas id="screen"></canvas>
  </body>
</html>
