name: Windows desktop CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  windows:
    runs-on: windows-2022
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        java: [ '11', '17', '21' ]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        distribution: 'corretto'
        java-version: ${{ matrix.java }}

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Prepare TESTAR protocols
      run: ./gradlew init_workflow_test

    - name: Build TESTAR with Gradle
      run: ./gradlew build

    - name: Check TESTAR JUnit summary
      run: ./gradlew coverageReportSummary

    - name: Prepare installed distribution of TESTAR with Gradle
      run: ./gradlew installDist

    - name: Run TESTAR dialog
      run: ./gradlew runTestRunGUI

    - name: Run desktop_generic protocol with TESTAR using COMMAND_LINE
      run: ./gradlew runTestDesktopGenericCommandLineOk
    - name: Save runTestDesktopGenericCommandLineOk HTML report artifact
      uses: actions/upload-artifact@v4
      # Only upload GitHub Actions results if this task fails (Can be replaced with 'if: always()')
      if: failure()
      with:
        name: Java${{ matrix.java }}-runTestDesktopGenericCommandLineOk-artifact
        path: D:/a/TESTAR_dev/TESTAR_dev/testar/target/install/testar/bin/notepad_ok

    - name: Run desktop_generic protocol with TESTAR to test waitAndLeftClickWidgetWithMatchingTags feature
      run: ./gradlew runTestDesktopGenericMultiTags
    - name: Save runTestDesktopGenericMultiTags HTML report artifact
      uses: actions/upload-artifact@v4
      # Only upload GitHub Actions results if this task fails (Can be replaced with 'if: always()')
      if: failure()
      with:
        name: Java${{ matrix.java }}-runTestDesktopGenericMultiTags-artifact
        path: D:/a/TESTAR_dev/TESTAR_dev/testar/target/install/testar/bin/notepad_multitags

    - name: Run desktop_generic protocol that contains SuspiciousTag with TESTAR
      run: ./gradlew runTestDesktopGenericCommandLineSuspiciousTag
    - name: Save runTestDesktopGenericCommandLineSuspiciousTag HTML report artifact
      uses: actions/upload-artifact@v4
      # Only upload GitHub Actions results if this task fails (Can be replaced with 'if: always()')
      if: failure()
      with:
        name: Java${{ matrix.java }}-runTestDesktopGenericCommandLineSuspiciousTag-artifact
        path: D:/a/TESTAR_dev/TESTAR_dev/testar/target/install/testar/bin/notepad_command_and_suspicious

    - name: Run desktop_generic protocol using specific filtering and detect a SuspiciousTag with TESTAR
      run: ./gradlew runTestDesktopGenericCommandLineSettingsFilterSuspiciousTag
    - name: Save runTestDesktopGenericCommandLineSettingsFilterSuspiciousTag HTML report artifact
      uses: actions/upload-artifact@v4
      # Only upload GitHub Actions results if this task fails (Can be replaced with 'if: always()')
      if: failure()
      with:
        name: Java${{ matrix.java }}-runTestDesktopGenericCommandLineSettingsFilterSuspiciousTag-artifact
        path: D:/a/TESTAR_dev/TESTAR_dev/testar/target/install/testar/bin/notepad_command_settings_filter_and_suspicious

    - name: Run desktop_generic protocol but connect using SUT_PROCESS_NAME and detect SuspiciousTag
      run: ./gradlew runTestDesktopGenericProcessNameSuspiciousTag
    - name: Save runTestDesktopGenericProcessNameSuspiciousTag HTML report artifact
      uses: actions/upload-artifact@v4
      # Only upload GitHub Actions results if this task fails (Can be replaced with 'if: always()')
      if: failure()
      with:
        name: Java${{ matrix.java }}-runTestDesktopGenericProcessNameSuspiciousTag-artifact
        path: D:/a/TESTAR_dev/TESTAR_dev/testar/target/install/testar/bin/notepad_process_and_suspicious

    - name: Run desktop_generic protocol but connect using SUT_WINDOW_TITLE and detect SuspiciousTag
      run: ./gradlew runTestDesktopGenericTitleNameSuspiciousTag
    - name: Save runTestDesktopGenericTitleNameSuspiciousTag HTML report artifact
      uses: actions/upload-artifact@v4
      # Only upload GitHub Actions results if this task fails (Can be replaced with 'if: always()')
      if: failure()
      with:
        name: Java${{ matrix.java }}-runTestDesktopGenericTitleNameSuspiciousTag-artifact
        path: D:/a/TESTAR_dev/TESTAR_dev/testar/target/install/testar/bin/notepad_title_and_suspicious

    # Enable Java Access Bridge
    - name: Enable Java Access Bridge
      shell: cmd
      run: jabswitch /enable
    # Run the Java Swing Test
    - name: Run desktop_java_swing protocol which uses Java Access Bridge for Java Swing apps
      run: ./gradlew runTestDesktopJavaSwing
    - name: Save runTestDesktopJavaSwing HTML report artifact
      uses: actions/upload-artifact@v4
      # Only upload GitHub Actions results if this task fails (Can be replaced with 'if: always()')
      if: failure()
      with:
        name: Java${{ matrix.java }}-runTestDesktopJavaSwing-artifact
        path: D:/a/TESTAR_dev/TESTAR_dev/testar/target/install/testar/bin/java_swing_ok
    # Always Disable Java Access Bridge to revert environment changes
    - name: Disable Java Access Bridge
      if: always()
      shell: cmd
      run: jabswitch /disable

    - name: Run desktop_generic with OrientDB to infer a TESTAR State Model
      run: ./gradlew runTestDesktopGenericStateModel
    - name: Save runTestDesktopGenericStateModel HTML report artifact
      uses: actions/upload-artifact@v4
      # Only upload GitHub Actions results if this task fails (Can be replaced with 'if: always()')
      if: failure()
      with:
        name: Java${{ matrix.java }}-runTestDesktopGenericStateModel-artifact
        path: D:/a/TESTAR_dev/TESTAR_dev/testar/target/install/testar/bin/notepad_state_model

    - name: Run desktop_generic doing a customization in the AbstractID identifer
      run: ./gradlew runTestDesktopGenericStateModelCustomAbstraction
    - name: Save runTestDesktopGenericStateModelCustomAbstraction HTML report artifact
      uses: actions/upload-artifact@v4
      # Only upload GitHub Actions results if this task fails (Can be replaced with 'if: always()')
      if: failure()
      with:
        name: Java${{ matrix.java }}-runTestDesktopGenericStateModelCustomAbstraction-artifact
        path: D:/a/TESTAR_dev/TESTAR_dev/testar/target/install/testar/bin/notepad_state_model_custom
